node_modules

scripts

config

public

src/sdk

rawAssets

src/i18n/tw
src/i18n/zh

public

server

#忽略雪碧图
src/compoments/icon/iconSprite.svg
src/compoments/icon/iconTypes.ts

#忽略多语言
src/compoments/languages

#忽略路由
src/router/routerPath.ts
src/router/routes.tsx

#忽略base64
src/assets/base64

.idea